@font-face {
  font-weight: 400;
  font-family: "JetBrainsMono";
  font-style: normal;
  src: url("JetBrainsMono/JetBrainsMono-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: "JetBrainsMono";
  font-style: normal;
  src: url("JetBrainsMono/JetBrainsMono-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: "JetBrainsMono";
  font-style: normal;
  src: url("JetBrainsMono/JetBrainsMono-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 800;
  font-family: "JetBrainsMono";
  font-style: normal;
  src: url("JetBrainsMono/JetBrainsMono-ExtraBold.woff2") format("woff2");
  font-display: swap;
}

/* Italic */
@font-face {
  font-weight: 400;
  font-family: "JetBrainsMono";
  font-style: italic;
  src: url("JetBrainsMono/JetBrainsMono-Italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: "JetBrainsMono";
  font-style: italic;
  src: url("JetBrainsMono/JetBrainsMono-Medium-Italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: "JetBrainsMono";
  font-style: italic;
  src: url("JetBrainsMono/JetBrainsMono-Bold-Italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-weight: 800;
  font-family: "JetBrainsMono";
  font-style: italic;
  src: url("JetBrainsMono/JetBrainsMono-ExtraBold-Italic.woff2") format("woff2");
  font-display: swap;
}
